body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #2e8b57;
  color: white;
}

.landing-page img {
  width: 100%;
  height: auto;
}

.product-card img, .cart-item img {
  width: 150px;
  height: 150px;
}
